{%extends 'base.html'%}

{%block main%}
<div class="container mx-auto">
    <section class="mt-4" style="background-color: #eee;">
        <div class="container py-5">
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="{{artworks.picture.url}}"
                          class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5>{{artworks.title}}</h5>
                     
                      <p class=" mb-4 mb-md-0">
                        {{artworks.description}}
                      </p>
                      <h5 class=" mb-4 mb-md-0">
                        Category: {{artworks.category_object}}
                      </h5>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center mb-1">
                        {% if artworks.get_discounted_price|floatformat:2 != artworks.price|floatformat:2 %}
                        <span class="text-danger">Discount Price: Rs.{{artworks.get_discounted_price|floatformat:2}}</span>
                        {%else%}
                        <h4 class="mb-1 me-1">Price: Rs.{{artworks.price|floatformat:2}}</h4>
                        {%endif%}
                       
                      </div>
                      <!-- <h6 class="text-success">Free shipping</h6> -->
                      <div class="d-flex flex-column mt-4">
                        <!-- <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button">Details</button> -->
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">
                          Add to Cart
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>



      <!-- review -->

      <h3 class="text-center mt-4">Reviews</h3>

      <section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded" style="
    background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/background2.webp);
  ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
        
        {%if review%}
        {%for re in review%}
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="{{re.owner.profile.profile_picture.url}}"
                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <p class="text-muted fw-light mb-4">
                {{re.review_message}}
              </p>
              <p class="fw-bold lead mb-2"><strong>{{re.owner}}</strong></p>
              <p class="fw-bold">Rated: {{re.ratings}}/5</p>
              <p class="fw-bold text-muted mb-0">{{re.owner.role}}</p>
            </div>
          </div>
        </div>
      </div>
      
      {%endfor%}
      
      {%endif%}
    </div>
  </div>
</section>

    
</div>
{%endblock%}